NEXT_PUBLIC_PROJECTID=xxxxxxxx
NEXT_PUBLIC_SERVICEID=
NEXT_PUBLIC_TEMPLATEID=
NEXT_PUBLIC_PUBLICKEY=
NEXT_PUBLIC_UNITY_KEY=xxxxxxx
NEXT_PUBLIC_APPWRITE_PROJECT_ID=xxxxxxx
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1